p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--text-color);
    margin: 0;
    height: 100%;
}

:root {
    --primary-white-color: #FFFFFF;
    --text-color:#000000;
    --accent-color: #8DFD1B;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 480px) {
        .container {
            width: 480px;
        }
    }

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }  
}

@media screen and (min-width: 1200px) {
    .container { 
        width: 1440px;
    }
}

@media screen and (min-width: 767px) {
    .header__container {
        padding: 30px;
}
}

@media screen and (min-width: 1200px) {
    .header__container {
        padding-right: 140px;
        padding-left: 140px;
        padding-top: 48px;
    }
}

.logo {
    width: 123px;
    height: 32px;
}

@media screen and (min-width: 767px) {
    .header__logo {
        margin-right: 20px;
    }
}

.nav {
    display: flex;
    padding-left: 20px;
    flex-grow: 2;
}

.nav__list {
    display: flex;
}

.nav__link {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: var(--primary-white-color);
}

.nav__item {
    margin-right: 15px;
}

.nav__item:last-child {
    margin-right: 0px;
}

@media screen and (min-width: 1200) {
    .nav__item {
        margin-right: 40px;
}
}

.nav__item_icon {
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 8px;
    background-color: var(--primary-white-color);
    margin-right: 12px;
}

.nav__item_icon:hover {
    -webkit-transform: scale(3.2);
    -ms-transform: scale(3.2);
    transform: scale(3.2);
    background-color: var(--accent-color);
}

.nav__item_icon:last-child {
    margin-right: 0px;
}

.header__box { 
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header__box {
        display: none;
}
}

@media screen and (min-width: 767px) {
    .mobile__menu {
        display: none;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/************************************************/
/****************** NAVIGATION ******************/
/************************************************/
nav {
    color: #1d1f20;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/*** INPUT ***/
nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/*** LABEL ***/
nav label {
    cursor: pointer;
    display: block;
    font: 2em/1 'Oswald', sans-serif;
    padding: 0.5em;
}

.nav__label {
    display: flex;
    justify-content: space-between;
}

/* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: var(--primary-white-color);
    border-radius: 0.05em;
    height: 0.2em;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

#menu-icon {
    display: inline-block;
    margin: 0.4em 0;
    max-width: 1em;
    position: relative;
}

nav label #menu-icon {
    float: right;
}

#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
}

#menu-icon:before {
    top: -0.4em;
}

#menu-icon:after {
    bottom: -0.4em;
}

/* Close Icon */
nav input[type=checkbox]:checked+label #menu-icon {
    background: transparent;
}

nav input[type=checkbox]:checked+label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
}

nav input[type=checkbox]:checked+label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
}

/*** MENU ***/
/* Overlay */
nav input:checked~#overlay {
    background: #e5e5e5;
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}

/* List */
nav ul {
    font-size: 1.5em;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

nav input:checked~ul {
    margin: 1em;
    max-height: inherit;
    opacity: 1;
}

nav ul>li {
    margin: 0.5em 0;
}

nav ul a {
    color: #1d1f20 !important;
    text-decoration: none;
}

nav ul a:hover {
    text-decoration: underline;
}

.social__nav {
    display: flex;
    justify-content: space-evenly;
}

.hero {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 8px;
}

@media screen and (min-width: 1400px) {
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        padding-left: 77px;
    }
}

.hero__title {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 31px;
    line-height: 1.19;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}

@media screen and (min-width: 1400px) {
    .hero__title {
        font-size: 51px;
        margin-bottom: 43px;
        width: 484px;
    }
}

.hero__tex {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    color: var(--primary-white-color);
    margin-bottom: 50px;
    width: 250px;
}

@media screen and (min-width: 1400px) {
    .hero__tex {
        font-size: 16px;
        margin-bottom: 115px;
        width: 340px;
    }
}

.hero__tex_block {
    animation-duration: 5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.hero__button {
    font-family: 'DM Mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;
    color: var(--text-color);
    background-color: var(--accent-color);
    width: 125px;
    height: 40px;
    margin-bottom: 30px;
    background-image: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%), radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%), radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%), radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 8px 3px, 8px 3px, 3px 8px, 3px 8px;
    animation: running-contour 0.5s linear infinite;
}

@keyframes running-contour {
    from {
        background-position: 0 0, 8px 100%, 0 8px, 100% 0;
    }

    to {
        background-position: 8px 0, 0 100%, 0 0, 100% 8px;
    }
}

@media screen and (min-width: 1400px) {
    .hero__button {
        font-size: 16px;
        height: 60px;
        width: 205px;
    }
}

#div1 {
    display: none;
}

@media screen and (min-width: 767px) {
    .hero__container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.hero_img {
    width: 300px;
}

@media screen and (min-width: 1400px) {
    .hero_img {
        width: 870px;
        height: 653px;
    }   
}

.hero__img_box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection {
    padding-left: 8px;
}

@media screen and (min-width: 1200px) {
    .collection {
        padding-left: 40px;
        padding-right: 80px;
    }
}

@media screen and (min-width: 1440px) {
    .collection {
        padding-left: 40px;
        padding-right: 240px;
    } 
}

.collection__title {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
    .collection__title {
        font-size: 38px;
    }
}

.collection__title_part {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #A8A8A8;
    width: 200px;
    margin-bottom: 61px;
}

@media screen and (min-width: 1200px) {
    .collection__title_part {
        font-size: 38px;
        width: 351px;
    }
}

.collection__tex {
    font-family: 'DM Mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--accent-color);
    margin-bottom: 32px;
    border-left: 2px solid #8DFD1B;
    padding-left: 20px;
    width: 300px;
}

@media screen and (min-width: 1200px) {
    .collection__tex {
        font-size: 21px;
        width: 580px;
    }
}

.collection__tex_description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    color: var(--primary-white-color);
    margin-bottom: 18px;
    width: 300px;
}

@media screen and (min-width: 1200px) {
    .collection__tex_description {
        font-size: 16px;
        width: 580px;
    }
}

.collection__button {
    font-family: 'DM Mono';
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-white-color);
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 10px;
    padding-bottom: 16px;
    background-color: transparent;
    border: 1px solid #8DFD1B;
}

.collection__img {
    margin-bottom: 30px;
    width: 250px;
    height: 250px;
}

@media screen and (min-width: 1400px) {
    .collection__img {
        margin-bottom: 0px;
        width: 360px;
        height: 360px;
    }
}

.collection {
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .collection__conteiner {
        display: flex;
        align-items: flex-start;
}  
}

.collection__img_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .collection_box {
        margin-right: 100px;
}
}

@media screen and (min-width: 1440px) {
    .collection_box {
        margin-right: 220px;
    }
}

.artists {
    padding-bottom: 120px;
}

@media screen and (min-width: 768px) {
    .artists {
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
}   
}

@media screen and (min-width: 1440px) {
    .artists {
        padding-left: 40px;
        padding-right: 240px;
        padding-bottom: 240px;
    }
}

.artists__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artists__img {
    width: 245px;
    height: 245px;
}

.artists__title {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 49px;
    line-height: 1.11;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 77px;
}

@media screen and (min-width: 768px) {
    .artists__title::before {
    content: "ists";
    position: absolute;
    left: -1%;
    }
}

@media screen and (min-width: 768px) {
    .artists__title::after {
    content: "A";
    position: absolute;
    right: -2%;
}
}

@media screen and (min-width: 1200px) {
    .artists__title {
        font-size: 79px;
        margin-bottom: 127px;
    }
}

@media screen and (min-width: 1200px) {
    .artists__title::after {
        content: "A";
        position: absolute;
        right: -14%;
    }
}

@media screen and (min-width: 1400px) {
    .artists__title::after {
        content: "A";
        position: absolute;
        right: -1%;
    }
}

.artists__item {
    margin-bottom: 30px;
}

.artists__item:last-child {
    margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
    .artists__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
}

@media screen and (min-width: 768px) {
    .artists__item {
        width: calc((100% - 100px) / 2);
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .artists__item {
        width: calc((100% - 10px) / 4);
    }
}

@media screen and (min-width: 1200px) {
    .artists__item:nth-child(n+5) {
        margin-bottom: 0px;
    }
}

.artists__tex {
    margin-top: 20px;
    font-family: 'DM Mono';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--primary-white-color);
}

.story {
    padding-bottom: 50px;
}

@media screen and (min-width: 1200px) {
    .story {
            padding-bottom: 120px;
        }
}

@media screen and (min-width: 768px) {
    .story {
        padding-left: 15px;
    }
}

.srory__title_one {
    text-align: center;
    margin-bottom: 61px;
}

.story__title {
    width: auto;
}

.story__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 769px) {
    .story__container {
        display: none;
    }
}

.story__img {
    width: 172px;
    height: 253px; 
    margin: auto;
}

.story__picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.story__item {
    font-family: 'DM Mono';
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: var(--primary-white-color);
    padding: 25px;
    width: 282px;
    margin-bottom: 20px;
    text-align: center;
}

.story__item:last-child {
    margin-bottom: 0px;
}

.story__item:hover {
    background: #222222;
    color: var(--accent-color);
}

.accordion__body {
    display: none;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: block;
  }

.story__box {
    display: flex;
}

.story__box_part {
    opacity:0;
    padding: 25px;
}

.story__zero {
    opacity: 1;
}

.story_case {
    background: #222222;
    width: 400px;
}

@media screen and (min-width: 1200px) {
    .story_case {
        display: flex;
        width: 876px;
    }
}

.story_up {
    display: none;
}

@media screen and (max-width: 769px) {
    .story__box {
        display: none;
    }
}

.background_img {
    position: absolute;
    left: 0%;
    right: -15%;
}

.background {
    padding-bottom: 70px;
}

@media screen and (min-width: 768px) {
.background {
        padding-bottom: 118px;
    }
}

.roadmap {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (min-width: 768px) {
    .roadmap {
        padding-top: 150px;
    }
}

@media screen and (min-width: 1200px) {
.roadmap {
        padding-top: 218px;
    }
}

@media screen and (min-width: 1400px) {
    .roadmap {
        padding-bottom: 288px;
    }
}

@media screen and (min-width: 1400px) {
    .roadmap {
        background:
        url(image/rundone.png),
        url(/image/rundtwo.png),
        url(/image/rundthree.png);
        background-position: right 100% top -4%, right -1% top 35%, right 100% bottom 10%;
        background-repeat: no-repeat;
        background-size: auto;
}
}

.roadmap__title {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 61px;
}

@media screen and (min-width: 768px) {
    .roadmap__title {
        font-size: 38px;
    }
}

.roadmap__number {
    font-family: 'DM Mono';
    font-weight: 400;
    font-size: 18px;
    line-height: 1,02;
    color: var(--text-color);
    background-color: var(--accent-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.roadmap__number_transparent {
    background-color: var(--text-color);
    border: 2px solid #8DFD1B;
    color: var(--accent-color);
}

@media screen and (min-width: 768px) {
    .roadmap__number {
        width: 45px;
        height: 45px;
        font-size: 28px;
    }
}

.roadmap__tex {
    font-family: 'DM Mono';
    font-weight: 400;
    font-size: 11px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--accent-color);
    padding-bottom: 3px;
}

.roadmap__tex_part {
    font-family: 'DM Mono';
    font-weight: 400;
    font-size: 11px;
    line-height: 1.73;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
    .roadmap__tex_part {
        font-size: 16px;
    }
}

.roadmap__description {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 9px;
    line-height: 2.33;
    color: var(--primary-white-color);
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

@media screen and (min-width: 768px) {
    .roadmap__description {
        font-size: 11px;
        padding-left: 35px;
    }
}

.roadmap__fontsize {
    font-size: 10px;
}

@media screen and (min-width: 768px) {
    .roadmap__fontsize {
        font-size: 12px;
    }
}

.roadmap__padding {
    padding-left: 0px;
}

.roadmap__box {
    display: flex;
    align-items: center;
    border: 2px solid #8DFD1B;
    padding: 17px;
}

.roadmap__img {
    width: 129px;
    height: 129px;
    position: absolute;
    left: 30%;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    .roadmap__img {
        position: relative;
        left: auto;
    }
}

.roadmap__bottom {
    margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
    .roadmap__bottom {
        margin-bottom: 0px;
    }
}

.roadmap__tumb {
    height: 350px;
    border: 2px solid #8DFD1B;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .roadmap__tumb {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 271px;
    }
}

.roadmap__item {
    margin-bottom: 70px;
    background-color: #222222;
    width: 280px;
    position: relative;
}

@media screen and (min-width: 1200px) {
.roadmap__item:after {
        content: "";
        width: 1px;
        height: 40px;
        background: var(--accent-color);
        border-radius: 0px;
        position: absolute;
        left: 47%;
        bottom: -25%;
    }
}

.roadmap__item:last-child::after {
    content: none;
}

@media screen and (min-width: 768px) {
    .roadmap__item {
        width: 540px;
    }
}

@media screen and (min-width: 1200px) {
    .roadmap__item {
        margin-bottom: 140px;
    }
}

.roadmap__center {
    text-align: center;
    font-size: 11px;
    margin-bottom: 50px;
}

.roadmap__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoholder {
    padding-left: 40px;
    padding-bottom: 245px;
}

@media screen and (max-width: 1200px) {
    .logoholder {
        display: none;
    }
}

.logoholder__list {
    display: flex;
    flex-wrap: wrap;
}

.logoholder__item {
    width: calc((100% - 250px) / 3);
    margin-bottom: 60px;
}

.logoholder__item:nth-child(n+3) {
    margin-bottom: 0px;
}

.logoholder__img {
    width: 322px;
    height: 30px;
}

.questions {
    padding-bottom: 115px;
}

@media screen and (min-width: 768px) {
    .questions {
        padding-left: 69px;
    }
}

@media screen and (min-width: 1400px) {
    .questions {
        padding-left: 99px;
    }
}

.question__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 1200px) {
    .questions__box {
        display: flex;
    }
}

.question__title {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--primary-white-color);
    display: block;
}

@media screen and (min-width: 1200px) {
    .question__title{
        font-size: 38px;
    }
}

.question__title_part {
    color: #A8A8A8;
}

.question__tex_part {
    text-align: left;
    font-size: 12px;
    padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .question__tex_part {
        font-size: 16px;
    }
}

.questions__tex {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    color: #C4C4C4;
    padding-bottom: 29px;
}

.questions__tex_part {
    padding-bottom: 0px;
}

.questions__img {
    margin-top: 30px;
    width: 250px;
    height: 250px;
    margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
    .questions__img {
        margin-top: 51px;
        width: 360px;
        height: 360px;
    }
}

.questions__list {
    background-color: #222222;
    padding: 15px;
}

@media screen and (min-width: 768px) {
    .questions__list {
        width: 580px;
    }    
}

@media screen and (min-width: 1200px) {
    .questions__list {
        margin-left: 220px;
    }
}

.questions__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
    padding-left: 8px;
}

@media screen and (min-width: 1200px) {
    .team {
        padding-bottom: 236px;
        padding-left: 100px;
    }
}

@media screen and (min-width: 1400px) {
    .team {
        padding-bottom: 236px;
        padding-left: 139px;
    }
}

.team__title {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 49px;
    line-height: 1.11;
    text-transform: uppercase;
    color: var(--primary-white-color);
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 1200px) {
    .team__title {
        font-size: 79px;
        justify-content: space-around;
        padding-right: 600px;
    }
}

@media screen and (min-width: 1200px) {
    .team__title::before {
        content: "am";
        position: absolute;
        left: 0%;
    }
}

@media screen and (min-width: 1200px) {
    .team__title::after {
        content: "team";
        position: absolute;
        right: 17%;
    }
}

.team__name {
    font-family: 'DM Mono';
    font-weight: 400;
    font-size: 21px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 18px;
    margin-top: 18px;
}

.team__item {
    width: 36px;
    height: 36px;
    background-color: var(--primary-white-color);
    margin-right: 12px;
    position: relative;
}

.team__item:hover {
    -webkit-transform: scale(3.2);
    -ms-transform: scale(3.2);
    transform: scale(3.2);
    background-color: var(--accent-color);
}

.team__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.team__img {
    width: 245px;
    height: 245px;
    margin: auto;
}

.team__tex {
    margin-bottom: 22px;
    text-align: center;
}

.team__list {
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
}

.team__tex_part {
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .team__tex_part {
        width: 238px;
    }
}

.team__list_basic {
        margin-top: 124px;
    }

@media screen and (min-width: 1200px) {
    .team__list_basic {
        display: flex;
    }
}

@media screen and (max-width: 1199px) {
    .team__item_basic {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .team__item_basic {
        max-width: 250px;
        margin-right: 100px;
}
}

@media screen and (min-width: 1200px) {
    .team__item_basic:last-child {
        margin-right: 0px;
    }
}

@media screen and (min-width: 1400px) {
    .team__item_basic {
        max-width: 320px;
    }
}

.discord {
    padding-bottom: 80px;
}

@media screen and (min-width: 1200px) {
    .discord {
        padding-bottom: 118px;
    }
}

.discord__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .discord__container {
        flex-direction: row;
        justify-content: space-around;
    }
}

.discord__img_basic {
    width: 284px;
    height: 284px;
}

@media screen and (min-width: 1200px) {
    .discord__img_basic {
        width: 584px;
        height: 584px;
    }
}

.discord__title {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 41px;
    line-height: 1.19;
    text-transform: uppercase;
    color: var(--primary-white-color);
    display: block;
}

@media screen and (min-width: 768px) {
    .discord__title {
        font-size: 51px;
    }
}

.discord__title_part { 
    color: var(--accent-color);
}

.discord__tex {
    margin-top: 24px;
    width: 250px;
    margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
.discord__tex {
        margin-top: 34px;
        width: 345px;
        margin-bottom: 35px;
    }
}

.discord__img {
    width: 20px;
    height: 20px;
    margin-right: 9px;
}

.discord__button {
    display: flex;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'DM Mono';
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-transform: capitalize;
    color: var(--text-color);
    background-color: var(--accent-color);
    margin-bottom: 25px;
    background-image: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%), radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%), radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%), radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 8px 3px, 8px 3px, 3px 8px, 3px 8px;
    animation: running-contour 0.5s linear infinite;
}

@media screen and (min-width: 768px) {
    .discord__button {
        margin-bottom: 0px;
    }
}

.footer {
    background-color: #42006A;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
}

@media screen and (min-width: 1400px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 140px;
        padding-right: 140px;
    }
}

.footer__logo {
    width: 103px;
    height: 24px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .footer__logo {
        margin-right: 64px;
    }
}

.footer__item {
    margin-bottom: 29px;
}

@media screen and (min-width: 768px) {
    .footer__item {
        margin-right: 25px;
    }
}

@media screen and (min-width: 1000px) {
    .footer__item {
        margin-right: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .footer__item {
        margin-right: 100px;
    }
}

@media screen and (min-width: 768px) {
    .footer__item:nth-child(3n) {
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 768px) {
    .footer__item_right {
        margin-right: 0px;
    }
}

@media screen and (min-width: 768px) {
    .footer__item_bottom {
        margin-bottom: 0px;
    }
}

.footer__link {
    font-family: 'DM Mono';
    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-white-color);
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .footer__link {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    .footer__list {
        display: flex;
} 
}

@media screen and (min-width: 768px) {
    .footer__container{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(141, 253, 27, 0.5);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    transform: scale(2);
    background-color: var(--text-color);
    border-radius: 4px;
    position: relative;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    transform: scale(1) rotate(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 20px;
    width: 300px;
    height: 500px;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 450px;
    }
}

@media screen and (min-width: 1440px) {
    .modal {
        width: 650px;
        height: 650px;
    }
}

.modal__title {
    font-family: 'DM Mono';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 50px;
    text-align: left;
    margin-top: 15%;
}

@media screen and (min-width: 768px) {
    .modal__title {
        text-align: center;
    }
}

.modal__tex {
    font-family: 'DM Mono';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--accent-color);
}

.modal__input {
    margin-top: 10px;
    margin-bottom: 18px;
    min-width: 250px;
    min-height: 40px;
    border-color: var(--accent-color);
}

@media screen and (min-width: 1440px) {
    .modal__input {
        min-width: 350px;
        margin-bottom: 70px;
    }
}

.modal__textarea {
    min-height: 70px;
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.modal__button_box {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .modal__button_box {
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
    .form__button {
        margin-bottom: 0px;
        margin-right: 15px;

    }
}

